*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-items:stretch ;
    justify-content: space-between;
     
}

.menu_bar{
    position: sticky;  
    top: 0;
    font-family: 'Times New Roman';
    font-weight:bolder;
    background-color: #0C4A5E;
    height: 71px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;       
}
.menu_bar ul a span {
   position:fixed;
   height: auto;
   left: 0px; 
   width: 25px;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}

.menu_bar ul li{
    display: inline-block;
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    display: block;
    color: white;
    text-decoration:none;
    font-size: 20px;
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: rgb(252, 216, 12) ;
        background-color: #0C4A5E;
}
.dropdown ul li {
    display: block;
}
.dropdown{
    display: none;
}
.menu_bar ul li:focus-within .dropdown,
.menu_bar ul li:hover .dropdown{
     display: block;
     position: absolute;
     left: 0;
     top: 100%;
    
}
.dropdown ul{
    display: block;
    margin: 10px;
}
.dropdown ul li{
    width: 150px;
    padding: 10px;
    background-color: #0C4A5E;
    background-repeat: no-repeat;
}


#check{
    display: none;
}
.menu_bar label{
    font-size:20px;
    font-weight:bolder;
    color: white;
    cursor: pointer;
    display: none;
}
/*END OF MENU*/

#popcorn img{
width: 300px;
height: 400px;
}

#popcorn table{
    width: 100%;  
    
}
#popcorn table td{
width: 350px;
}
#popcorn h2{
font-size: xx-large;
font-weight: bold;
color: rgb(9, 167, 230);
}
#popcorn ul{
    list-style: square;
}
#popcorn li{
color: rgb(9, 167, 230);
font-size: x-large;
font-weight: bold;
align-content: stretch;
}

.burger img{
    width: 300px;
    height: 380px;
    }
    
.burger table{
    width: 100%;  
  
}
.burger table td{
width: 350px;
}
.burger h2{
font-size: xx-large;
font-weight: bold;
color: rgb(9, 167, 230);
}
.burger ul{
    list-style: square;
}
.burger li{
color: rgb(9, 167, 230);
font-size: x-large;
font-weight: bold;
align-content: stretch;
}

.pizza img{
    width: 300px;
    height: 380px;
    }
    
.pizza table{
    width: 100%;  
}
.pizza table td{
width: 350px;
}
.pizza h2{
font-size: xx-large;
font-weight: bold;
color: rgb(9, 167, 230);
}
.pizza ul{
    list-style: square;
}
.pizza li{
color: rgb(9, 167, 230);
font-size: x-large;
font-weight: bold;
align-content: stretch;
}

.drink img{
    width: 300px;
    height: 380px;
    }
    
.drink table{
    width: 100%;  
}
.drink table td{
width: 350px;
}
.drink h2{
font-size: xx-large;
font-weight: bold;
color: rgb(9, 167, 230);
}
.drink ul{
    list-style: square;
}
.drink li{
color: rgb(9, 167, 230);
font-size: x-large;
font-weight: bold;
align-content: stretch;
}

.footer {
    height: 50px;
    background-color: #0C4A5E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto; 
   
}
.footer img{
    align-items: right;
    width: 40px;
    height: 40px;
}
.footer {
    grid-column: 1/5;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
} 
@media(max-width:991px){

    .menu_bar{
        padding: 20px;
        width: 93%;
        
    }
    .menu_bar label{
        display: initial;
    }
    .menu_bar .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background-image: url(bluebg.jpg);
        display: none;
    
    }
    .navbar ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

    }
    .navbar ul li {
       width: 100%;
       display: block;
    }


    .dropdown{
        display: none;
    }

    .dropdown ul{
        list-style: none;
        display: block;
    }

    .dropdown ul li{
        width: 100%;
    }
    .dropdown ul li{
     left: 200px;
     top: 140px;
     background-image: url(bluebg.jpg);
     background-repeat: no-repeat;
}
.menu_bar ul li:focus-within .dropdown,
.menu_bar ul li:hover .dropdown{
     display: initial;
    
}

.dropdown ul li a{
    display: block;
}

#check:checked ~ .navbar{
display: initial;
}

/*end of resposnsive menu*/

   
#popcorn{
width: 100%;
}
.burger{
width: 100%;
}
.pizza{
width: 100%;
}
.drink{
width: 100%;
}
.deluweek2{
width: 100%;
}
.staweekend2{
width: 100%;
}
.footer{
    width: 100%;
}
}