*{
    margin: 0;
    padding: 0;
}
.container{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    grid-gap: 5px;
    grid-column-gap: 10px;
   
}
    
    .menu_bar{
        grid-column:1/5;
        grid-row: 1/2; 
        position: sticky;  
        top: 0;
        font-family: 'Times New Roman';
        font-weight:bolder;
       background-color: #0C4A5E;
        height: 71px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: auto;       
    }
    .menu_bar ul a span {
       position:fixed;
       height: auto;
       left: 0px; 
       width: 25px;
    }
    .menu_bar ul{
        list-style: none;
        display: flex;
    }
    
    .menu_bar ul li{
        display: inline-block;
        padding: 10px 30px;
        position: relative;
    }
    .menu_bar ul li a{
        display: block;
        color: white;
        text-decoration:none;
        font-size: 20px;
        transition: all 0.3s;
    }
    .menu_bar ul li a:hover{
        color: rgb(252, 216, 12) ;
        background-color: #0C4A5E;
    }
    .dropdown ul li {
        display: block;
    }
    .dropdown{
        display: none;
    }
    .menu_bar ul li:focus-within .dropdown,
    .menu_bar ul li:hover .dropdown{
         display: block;
         position: absolute;
         left: 0;
         top: 100%;
        
    }
    .dropdown ul{
        display: block;
        margin: 10px;
    }
    .dropdown ul li{
        width: 150px;
        padding: 10px;
        background-color: #0C4A5E;
    }
    
    
    #check{
        display: none;
    }
    .menu_bar label{
        font-size:20px;
        font-weight:bolder;
        color: white;
        cursor: pointer;
        display: none;
    }
    /*END OF MENU*/

.header{
    grid-column: 1/ 5;
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
  
    color:#0C4A5E;
    word-spacing: 10px;
    text-align: center;
}
.preview{
    grid-column: 1/5;
}
.preview img{ 
    width:320px; 
    height:230px;
}

.ticket{
    grid-column: 1/5;
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
    color: #0C4A5E;
    word-spacing: 10px;
    text-align: center;
}
.d3 h1{
    grid-column: 1/5;
 text-align: left;
 color: #0C4A5E;
}
.staweek{
    grid-column: 1/2;
    height: 240px;
    width: 320px;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
    color: white;
    word-spacing: 10px;
    text-align: center;
    background-image:  url(tree444.png);

    border: 5px solid  rgb(235, 239, 241);
}
.deluweek{
    height: 240px;
    width: 320px;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
    color: white;
    word-spacing: 10px;
    text-align: center;
    background-image: url(tree444.png);
    border: 5px solid  rgb(235, 239, 241);
}

.d4 {
    grid-column: 1/5;
    text-align: left;
    color: #0C4A5E;
}
.deluweek2{
    grid-column: 1/2;
    height: 240px;
    width: 320px;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
    color: white;
    word-spacing: 10px;
    text-align: center;
    background-image:  url(tree444.png);

    border: 5px solid  rgb(235, 239, 241);
}
.staweekend2{
    height: 240px;
    width: 320px;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
    color: white;
    word-spacing: 10px;
    text-align: center;
    background-image: url(tree444.png);
    border: 5px solid  rgb(235, 239, 241);
}


.footer {
    height: 50px;
    grid-column: 1/5;
    background-color: #0C4A5E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto; 
   
}
.footer img{
    align-items: right;
    width: 40px;
    height: 40px;
}
.footer {
    grid-column: 1/5;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
} 



@media(max-width:991px){

    .menu_bar{
        padding: 20px;
        width: 93%;
        
    }
    .menu_bar label{
        display: initial;
    }
    .menu_bar .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background-image: url(bluebg.jpg);
        display: none;
    
    }
    .navbar ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

    }
    .navbar ul li {
       width: 100%;
       display: block;
    }


    .dropdown{
        display: none;
    }

    .dropdown ul{
        list-style: none;
        display: block;
    }

    .dropdown ul li{
        width: 100%;
    }
    .dropdown ul li{
     left: 200px;
     top: 140px;
     background-image: url(bluebg.jpg);
     background-repeat: no-repeat;
}
.menu_bar ul li:focus-within .dropdown,
.menu_bar ul li:hover .dropdown{
 display: initial;
    
}

.dropdown ul li a{
    display: block;
}

#check:checked ~ .navbar{
display: initial;
}

/*end of resposnsive menu*/

    .preview img{
        width: 80%;     
    }
.ticket{
width: 100%;
}
.staweek{
width: 100%;
}
.deluweek{
width: 100%;
}
.d4{
width: 100%;
}
.deluweek2{
width: 100%;
}
.staweekend2{
width: 100%;
}
.footer{
width: 100%;
}
}

